<h1>
  Welcome to Reform!
</h1>

<div>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-danger">Danger</button>
</div>

<ref-input label="testNgModel"
  [ngModel]="testNgModel">
</ref-input>

<form class="contact-form"
  [formGroup]="form"
  (ngSubmit)="submit()">

  <div class="ref-row">
    <ref-input label="First name"
      formControlName="firstName">
    </ref-input>

    <ref-input label="Last name"
      formControlName="lastName">
    </ref-input>
  </div>

  <ref-input label="Zip"
    type="number"
    optional
    formControlName="zip">
  </ref-input>

  <ref-select label="User type"
    [data]="userTypes"
    formControlName="userType">
  </ref-select>

  <ref-textarea label="Feedback"
    placeholder="Leave us your feedback"
    formControlName="feedback">
  </ref-textarea>

  <ref-radiogroup [data]="statusData"
    [inline]="true"
    displayMember="name"
    valueMember="value"
    formControlName="status">
  </ref-radiogroup>

  <ref-switch label="Toggle this switch"
    formControlName="isSwitchChecked">
  </ref-switch>

  <ref-checkbox label="Agree to the terms & conditions"
    formControlName="agreeTerms">
  </ref-checkbox>

  <div>
    <button class="btn btn-primary"
      type="submit">
      Submit form
    </button>
  </div>
</form>

<div>
  {{ form?.value | json }}
</div>
