<h1>
  Welcome to Reform!
</h1>

<div>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-danger">Danger</button>
</div>

<form class="contact-form"
  [formGroup]="form"
  (ngSubmit)="submit()">

  <div class="ref-row">
    <ref-input label="First name"
      formControlName="firstName">
    </ref-input>

    <ref-input label="Last name"
      formControlName="lastName">
    </ref-input>
  </div>

  <ref-switch label="Toggle this switch"
    formControlName="isSwitchChecked">
  </ref-switch>

  <ref-checkbox label="Agree to the terms & conditions"
    formControlName="agreeTerms">
  </ref-checkbox>

  <button class="btn btn-primary"
    type="submit">
    Submit form
  </button>
</form>

<div>
  {{ form?.value | json }}
</div>
